<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                {% for message in messages %}
                    alert("{{ message }}");
                {% endfor %}
            </script>
        {% endif %}
    {% endwith %}

    <p>Welcome, {{ current_user.username }}!</p>
    <a href="{{ url_for('routes.logout') }}">Logout</a>
</body>
</html>